<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>Zaloguj się do trello</h1>
    <h3>Lub <a routerLink="/signup">utwórz konto</a></h3>
    <mat-form-field appearance="outline">
      <mat-label>Uzytkownik</mat-label>
      <input matInput placeholder="np. jan.kowalski" formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" placeholder="np. **********" formControlName="password">
    </mat-form-field>  
    <button mat-raised-button color="primary">Zaloguj się</button>
  </div>
</form>

