:host {
    margin-bottom: 8px;

    mat-toolbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        
        .account-container {
            display: flex;
            a {
                margin-left: 8px;
            }

            .user-icon {
                width: 42px;
                height: 42px;
                line-height: 42px;
                font-size: 24px;
                background: #607D8B;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;

                .avatar {
                    border-radius: 50%;
                    max-width:100%;
                    max-height:100%;
                }
            };
        }
    }

}