<mat-toolbar color="primary" class="mat-elevation-z4">
    <div class="account-container">
        <div *ngIf="getUser() as user; else elseBlock">
            <div matBadgePosition="below | before" matBadge="8" matBadgeColor="accent">
                <app-avatar [size]="48" [user]="user" [matMenuTriggerFor]="menu">
                </app-avatar>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/user']" routerLinkActive="router-link-active">
                    <mat-icon>person</mat-icon>
                    <span>Profil</span>
                </button>
                <button mat-menu-item (click)="imageInput.click()">
                    <mat-icon>add_a_photo</mat-icon>
                    <span>Zdjęcie</span></button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Wyloguj</span></button>
            </mat-menu>       
            <input #imageInput type="file" accept="image/jpeg, image/png" [hidden]="true" (change)="onFileChange($event)">     
        </div>
        <ng-template #elseBlock>
            <a mat-raised-button routerLink="/login">Logowanie</a>
            <a mat-raised-button color="accent" routerLink="/signup">Rejestracja</a>
        </ng-template>
    </div>
    <div>
        <a mat-button routerLink="/"><h2>Trello</h2></a>
    </div>
</mat-toolbar>
