<mat-toolbar color="primary" class="mat-elevation-z4">
    <div class="account-container">
        <div *ngIf="getUser() as user; else elseBlock">
            {{ user.username }}
            <button mat-raised-button (click)="logout()">Wyloguj</button>
        </div>
        <ng-template #elseBlock>
            <a mat-raised-button routerLink="/login">Zaloguj</a>
            <a mat-raised-button color="accent" routerLink="/signup">Zarejestruj się</a>
        </ng-template>
    </div>
    <div>
        <a mat-button routerLink="/"><h2>Trello</h2></a>
    </div>
</mat-toolbar>
