:host {
    margin-bottom: 8px;

    mat-toolbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        
        .account-container {
            display: flex;
            a {
                margin-left: 8px;
            }

            .user-icon {
                width: 42px;
                height: 42px;
                line-height: 42px;
                border-radius: 50%;
                font-size: 24px;
                background: gray;
                text-align: center;
                cursor: pointer;
            };
        }
    }

}