<mat-toolbar color="primary" class="mat-elevation-z4">
    <div class="account-container">
        <div *ngIf="getUser() as user; else elseBlock">
            <app-current-user [user]="user" [matTooltip]="user.username"></app-current-user> 
        </div>
        <ng-template #elseBlock>
            <a mat-raised-button routerLink="/login">Logowanie</a>
            <a mat-raised-button color="accent" routerLink="/signup">Rejestracja</a>
        </ng-template>
    </div>
    <div>
        <a mat-button routerLink="/"><h2>Trello</h2></a>
    </div>
</mat-toolbar>
