.row {
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
    
:host ::ng-deep div.mat-form-field-wrapper {
    padding: 0;
}

h1 {
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

h2 {
    margin: 0px;
}

.empty-list {
    margin: 8px 0;
}


.members-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

app-team-member {
    margin: 8px 0;
}