<div *ngIf="boards$ | async as boards" class="boards">
  <div class="boards-container" cdkDropListOrientation="horizontal" cdkDropListLockAxis="x" (cdkDropListDropped)="onBoardDropped($event, boards)" cdkDropList>
    <div class="board-item" *ngFor="let board of boards" cdkDrag [routerLink]="['/board', board.id]">
      <mat-card class="board-card">        
        <h2>{{ board.title }}</h2>
        <div>
            <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="boardMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #boardMenu="matMenu">
              <button mat-menu-item (click)="deleteBoard(board.id, boards)">Usuń</button>
            </mat-menu>
        </div>  
      </mat-card>  
    </div>  
    <div>
      <mat-card class="add-board-card">   
        <mat-form-field>
          <input matInput placeholder="Nowa tablica" [formControl]="boardTitle">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="createBoard(boards)">
          <mat-icon>add</mat-icon>Dodaj tablicę 
        </button>
      </mat-card>
    </div>
  </div>
</div>  