<div *ngIf="board$ | async as board">          
    <div class="cardlist-container" cdkDropList [cdkDropListData]="board.cardLists" (cdkDropListDropped)="onCardListDropped(board, $event)" cdkDropListOrientation="horizontal">
        <div cdkDropListGroup *ngFor="let cardList of board.cardLists" cdkDrag [cdkDragData]="cardList">
            <mat-card class="cardlist-item">
                <mat-card-title class="cardlist-title" cdkDragHandle>{{cardList.title}}</mat-card-title>
                <mat-card-content>
                    <div cdkDropList id={{cardList.id}} [cdkDropListData]="cardList.cards" (cdkDropListDropped)="onCardDropped(board, $event)" [cdkDropListConnectedTo]="getConnectedList(board)">
                        <div *ngFor="let card of cardList.cards" cdkDrag [cdkDragData]="card">
                            <mat-card class="card-item">
                                <mat-card-content>{{card.title}}</mat-card-content>
                            </mat-card>
                        </div>                        
                    </div>
                </mat-card-content>    
                <mat-card-actions>   
                    <div>
                        <mat-form-field style="margin-right: 4px">
                            <input matNativeControl placeholder="Nowa karta" [formControl]="cardTitle">
                        </mat-form-field>        
                        <button mat-flat-button color="primary" (click)="createCard(board, cardList)">Dodaj</button>  
                    </div>    
                </mat-card-actions>         
            </mat-card>            
        </div>
        <div>
            <mat-form-field style="margin-right: 4px">
                <input matNativeControl placeholder="Nowa lista" [formControl]="cardListTitle">
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="createCardList(board)">Dodaj</button>
        </div>
    </div>
</div>     