.dashboard {
    margin: 0 20%;
}

.board-container {
    display: flex;
    flex-direction: row;

    .board-item {
        margin-right: 8px;
        cursor: pointer;
        outline: none;
    }
}

h2 {
    margin-top: 16px;
}

mat-card {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 100px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}