.dashboard {
    margin: 16px 20% 0;
    display: flex;
    

    .teams {
        display: flex;
        flex-direction: column;
        width: 200px;

        .team-button {
            text-align: start;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .boards {
        
    }
}

.full-width {
    width: 100%;
}

.button-icon {
    margin-right: 4px;
    margin-bottom: 4px;
} 