<div class="dashboard" *ngIf="teams$ | async as teams">
  <div class="teams">
    <h2>Zespoły</h2>
    <button *ngFor="let team of teams" class="team-button" mat-button color="secondary" [routerLink]="['/team', team.id]">
      <mat-icon class="button-icon">people</mat-icon>{{ team.name }}
    </button>
    <button mat-button color="secondary"  class="team-button" (click)="openCreateTeamDialog(teams)">
      <mat-icon class="button-icon">add</mat-icon>Utwórz zespół
    </button>
  </div>
  <div class="boards">
    <div>
      <h2>Moje tablice</h2>
      <app-board-list [team]="null"></app-board-list>
    </div>
    <div *ngFor="let team of teams">
      <h2>{{ team.name }}</h2>
      <app-board-list [team]="team">
      </app-board-list>
    </div>    
  </div>
</div>
