.board-container {
    display: flex;
    flex-direction: row;

    mat-card {
        width: 200px;
        height: 200px;
        margin-right: 8px;
        cursor: pointer;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
