:host {
    display: flex;
    flex-direction: column;

    .dialog-header {        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    mat-form-field {
        width: 240px;
    }
}